<header>
    <div class="header-top">
        <div class="container">
            <div class="contact">
                <p><i class="fa-sharp fa-solid fa-envelope"></i> demo@example.com</p>
                <p><i class="fa-sharp fa-solid fa-phone"></i> 0123456789</p>
            </div>
            <div class="socialmedia">
                <p><i class="fa-brands fa-facebook-f"></i></p>
                <p><i class="fa-brands fa-twitter"></i></p>
                <p><i class="fa-brands fa-linkedin"></i></p>
            </div>
        </div>
    </div>

    <div class="main-header">
        <div class="container">
            <div class="logo">
                <h1>SWIM SCHOOL</h1>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/instructors">Instructors</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>